.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding: 0 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .header__logo {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 10px;
    left: 50px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 60px;
  margin: 0;
  padding: 0; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 20px;
  position: relative; }
  .nav__item:last-of-type {
    margin-right: 0; }

.nav__link {
  padding: 23px 0;
  font-family: "Roboto", "Arial", sans serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  .nav__link:hover {
    color: #00acdc;
    cursor: pointer; }

.is-active {
  color: #00acdc; }
  .is-active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4px;
    background: #00acdc;
    border-radius: 2px; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .catalog__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: calc(200px * 4 + 3 * 48px);
    margin: 0 40px 28px; }
  .catalog__item {
    margin-bottom: 50px; }

.product {
  width: 200px;
  height: 403px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .product__image-wrapper {
    margin: 15px auto 35px;
    padding: 11px 0;
    -webkit-transition-duration: 1s;
            transition-duration: 1s; }
    .product__image-wrapper:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      outline: 3px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      cursor: pointer; }
  .product__image {
    width: 160px;
    height: 134px; }
  .product__name {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Roboto", "Arial", sans serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000; }
  .product__code {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Roboto", "Arial", sans serif;
    font-size: 11px;
    line-height: 13px;
    color: #000; }
  .product__rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
  .product__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .product__star {
    height: 15px;
    width: 15px;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px; }
  .product__stars--1 .product__star:nth-child(1),
  .product__stars--2 .product__star:nth-child(-n+2),
  .product__stars--3 .product__star:nth-child(-n+3),
  .product__stars--4 .product__star:nth-child(-n+4),
  .product__stars--5 .product__star:nth-child(-n+5) {
    background-image: url("../images/star-active.svg"); }
  .product__reviews, .product__price-title {
    font-size: 11px; }
  .product__reviews {
    font-family: "Roboto", "Arial", sans serif;
    line-height: 13px;
    text-align: right;
    color: #000;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    .product__reviews:hover {
      color: #00acdc;
      cursor: pointer; }
  .product__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
  .product__price-title {
    font-family: "Roboto", "Arial", sans serif;
    line-height: 13px;
    color: #000; }
  .product__price-value {
    font-family: "Roboto", "Arial", sans serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000; }

.buy-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00acdc;
  border: 1px solid #00acdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans serif;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }
  .buy-button:hover {
    background-color: #fff;
    color: #00acdc; }

body {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
